.first-div {
    border: black solid 3px;
    padding: 15px;
}

#nome, #email {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 72, 72);
}

label {
    margin: 10px;
}
.h1 {
    border: 20px;
    color: rgb(74, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div {
    width: 50%;
    margin-left: 150px;
}
#option1 {
    margin-left: 10px;
}

.text-area {
    margin-left: 10px;
    border: rgb(74, 72, 72) solid 1px;
    resize: none;
    margin-top: 10px;
}

.typing-box {
    margin-top: 10px;
    color: rgb(74, 72, 72);
}

.options, .options2, .options3, .options4, .label-data, .data {
    color: rgb(74, 72, 72);
}
.label, .label2 {
    color: rgb(74, 72, 72);
}
.data {
    width: 150px;
}
#agree1, #agree2, #label-agree {
    color: rgb(74, 72, 72);
}

.button1, .button2 {
    color: rgb(74, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
}
.button2 {
    margin-left: 10px;
}