body {
    background-color: rgb(105, 17, 61);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    text-align: center;
}