* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  .header-img {
    width: 70px;
  }
  
  .gallery-img {
    width: 150px;
    height: 150px;
  }
  
  .social-img {
    width: 25px;
    margin-left: 10px;
  }
  .cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 40, 40);
    color: white;
    align-items: center;
  }
  
  .cabecalho h3 {
    color: grey;
  }
  
  section p {
    display: flex;
    justify-content: center;
    color: grey;
  }
  
  .divs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 400px;
    margin-top: 20px;
  }
  
  section div {
    justify-content: center;
    background-color: rgb(226, 220, 220);
    margin: 2px;
    border-radius: 15px;
  }
  
  h4 {
    display: flex;
    justify-content: center;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  hr {
    width: 150px;
    margin-top: 15px;
  }