div:hover {
    border-style: groove;
}
.vermelho {
    background-color: red;
    font-style: italic;
}
.azul {
    background-color: blue;
}
.amarelo {
    background-color: yellow;
    font-size: 20px;
    font-style: italic;
}
.roxo {
    background-color: purple;
}
.rosa {
    background-color: pink;
    font-style: italic;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}